@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    color: black;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
}

.app-section{
    display: flex;
    justify-content: center;
    align-items: center;   
    background-image: url(../img/hotel.jpg);
    background-size: cover;
}

.booking-info{
    padding: 25px;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EFF5F5;
    padding: 25px;
}

.title{
    font-size: 28px;
    padding: 15px;
}

#app{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #497174;
    padding: 25px;
    margin: 15px;
}

.in-form-group{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

label{
    padding: 5px;
}

input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.compare-button{
    cursor: pointer;
    color: #D6E4E5;
    padding: 10px;
    text-align: center;
    width: 400px;
    margin: 10px;
    color:#393E46;
    border-radius: 5px;

}

.book-button ,
.button-back{
    cursor: pointer;
    width: 160px;
    padding: 10px 25px;
    color: black;
    background-color:#497174;
    border: 1px #497174 solid;
    margin-top: 20px;
    margin-left: 4px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.details-button{
    cursor: pointer;
    width: 160px;
    padding: 10px 25px;
    color: #EFF5F5;
    background-color: black;
    border: 1px white solid;
    margin-top: 5px;
    margin-left: 4px;
    border-radius: 5px;
}

.p{
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}

.p-1{
    color: #EFF5F5;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
}

li{
    color:#EFF5F5 ;
    list-style: none;
}

.box{
    display: flex;
    flex-direction: row;
    background-color: #393E46;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    color: #EFF5F5;
}

.error-text{
    color: red;
}

.success-text{
    color: green;
}

.hotel-detail{
    background-color:#D6E4E5;
    text-align: center;
    padding: 25px;
}
.hotel-thumbnail{
    width: 400px;
}

.image{
    margin: 15px;
}

.hotel-info{
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin: 10px;
}

.offer{
    padding: 15px;
    text-align: left ;
}

.offer-label{
    text-decoration: underline;
}