*{
    box-sizing: border-box;
    margin: 0;
}

.header-section{
    background-color: #E7EF89;
    padding: 25px;
    text-align: center;
}

h1{
    font-weight: 700;
    font-size: 45px;
}

.body-section{
    background-image: url('../images/hotel.jpg');
    background-size: cover;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #efefee;
    padding: 25px;
    margin: 15px;
    border-radius: 15px;
}

.form-group{
    padding: 15px;
}

button{
    width: 400px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    color: #E7EF89;
    background-color: blue;
    border: none;
    font-size: 18px;
    margin: 15px;
}

input{
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

label{
    display: block;
    margin-bottom: 10px;
    color: black;
}
